# Basic of Python

In [1]:
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

#### It was create by Guido Van Rossum and released in 1991.

## Indentation in Python

#### Python Indentation refers to the use of whitespace (spaces or tabs) at the begining of code line.

In [2]:
# Example
if 5>2:
    print("Five is greater than 2")

Five is greater than 2

In [3]:
# Error Example
if 5>2:
print("Five is greater than 2")

IndentationError: expected an indented block after 'if' statement on line 2 (1730977416.py, line 3)

## Python Identifiers

#### 1.In Python identifiers are unique names that are assigned to variables, functions, classes and other entities.

#### 2.They should start with a letter (a-z) , (A-Z) or an underscore(_) and can be followed by letters, numbers(0-9) or undersore.

In [4]:
# Example of valid identifiers

#### variable :- name = "Alice"

#### start with an underscore :- _age = 28

#### camel case :- totalMarks = 90

#### constant (by convention, uppercase is used) :- PI = 3.14

#### Function :- def add number(a,b);
                    return a+b

## Input & Output in Python

#### Output :- The print() function is used to display output on the screen.

In [5]:
# Basic print 

print("Hello World!")

Hello World!

In [7]:
# Printing Multiple value

name = "Alice"
age = 17
print("Name :" , name ," , " ,"Age :" , age)

Name : Alice  ,  Age : 17

In [13]:
# Using sep & end parameter

print("Hello","World!",sep= "-")
print("Python",end = " ")      # new line
print("is awesome!")

Hello-World!
Python is awesome!

In [12]:
# Formate output (using f-string)

name = "Alice"
age = 25
print(f"My name is {name} and I am {age} years old!")

My name is Alice and I am 25 years old!

#### Input :- The input() function is used to take input from the keyboard. It always returns a string.

In [14]:
# Basic Input

name = input ("Enter your name :")
print("Hello," + name + "!")

Enter your name : matlooB

Hello,matlooB!

In [15]:
# Taking Input

age = int(input("Enter your age : "))
print(f"Your are {age} years old!")

Enter your age :  78

Your are 78 years old!

In [17]:
# Taking Multiple Input

x, y = map(int,input("Enter rwo numbaers:").split())
print(f"Sum : {x+y} ")

Enter rwo numbaers: 7 6

Sum : 13

## Keywords

In [18]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [19]:
print(False == 0)

True

In [20]:
print(True == 1)

True

In [21]:
print(True == 0)

False

In [23]:
print(True+True+True)

3

In [24]:
print(False+True)

1

In [26]:
print(False+False)

0

## Comments

#### A comment in Python is a line of text is ignored by the interpreter . It is used to expalin the code & make it more readable.

#### Single line comment

In [27]:
# This is single - line comment

#### Mutli-line comment

In [ ]:
""" This is a multi-line comment.
     It spans nultiple lines."""

## Variables

#### A variable in Python is a container for storing data  .
It is a named memory location that holds values.

#### Rules:-
Can contain letters(A-Z , a-z), digits(0-9) and underscore(_).

Must start with a letter or an underscore(_).

Can't start with a digit.

Can't use Python keywords as variable names.

Case-Sensitive (name & Name) both are different variables.

In [29]:
name = 'Jon'
name

'Jon'

In [32]:
Name = 'Jony'
Name

'Jony'

In [33]:
name == Name

False

In [34]:
_age = 79
_age

79

In [35]:
User124 = "Alice"
User124

'Alice'

### Mutli words varibale Names

#### Camel-case :- Each word,except the first , starts with a capital letters.

In [36]:
myVariableName = 'John'
myVariableName

'John'

#### Pascal-case :- Each word starts with a capital letter.

In [37]:
MyVariableName = 'john'
MyVariableName

'john'

#### Snake-case :- Each word is separated by an underscore character.

In [38]:
my_Variable_name = 'John'
my_Variable_name

'John'

### Case- Sentive

In [42]:
a = 4
A = "Sally"
print(a)
print(A)

4
Sally

### Assign Mutliple value

In [45]:
# Many value to mutliple variable

x,y,z = 'orange','Banana','Cherry'
print(x)
print(y)
print(z)

orange
Banana
Cherry

In [46]:
# One value to mutliple variable

x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

#### Swaping two variable

In [50]:
a,b = 5, 2
print(a)
print(b)
print('Swaping')
a,b = b,a
print(a)
print(b)

5
2
Swaping
2
5